.searchContainer {
  position: relative;
}
.searchBar {
  background-color: #2A2A2A;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 18px;
}
.searchBar:focus {
  outline-style: double;
  outline-color: #1fdf64;
}

.searchIcon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffffbb;
}
