.searchContainer {
  position: relative;
}
.searchBar {
  background-color: #8ec1e4;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 18px;
}
.searchBar:focus {
  outline-color: #9ecbe9;
}

.searchIcon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #333333ce;
}
